 <div class="user-details" style="height: 100%;width:80%;background-color: rgb(244, 244, 244)">
  <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;"> About {{site.username}} </h1>
  <img src="{{ "/assets/img/33.jpg" | prepend: site.baseurl }}" style="border-radius: 50%; width: 300px; height: 300px;">
  <div style="margin-left: 200px;margin-right: 200px">
    <p><span class="skill_title">Name : 박세진</span></p>
    <p><span class="skill_title">Age : 27</span></p>
    <p><span class="skill_title">Related Experience :</span></p> 
    <p><span class="skill_title">19-01 ~ 19-07 KH 정보교육원 JAVA & SPRING 웹/앱 개발자 과정 수료</span></p>
    <p><span class="skill_title">Related Certificate: 1.정보처리기능사 2.SQLD... 1문제차이 낙방 재시험 예정</span></p>
  </div>
  <div style="margin-left: 10%; margin-right: 100px; overflow: auto;">
    <p> "항상 어린아이 같이"</p>
    <p> 비록 늦은 나이에 개발에 발 디뎠지만, 누구보다 새로운 기술과 지식에 어린아이처럼 호기심이 왕성한 개발자입니다.</p>
    <p> 지금과 같이 은퇴할 때까지 항상 개발에 대한 흥미와 열정이 식지 않는 것이 저의 목표입니다.</p>
    <p> 어제보단 오늘이, 오늘보단 내일이 기대되는 어린아이같이 하루가 다르게 성장하는 개발자가 될 것입니다. </p>
  </div>

</div>


