<div class="user-details" style="height: 100%;width:100%;background-color:black">
    <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;color: white"> Contact By</h1>
     <p style="color: white"> Email : seajin2003@gmail.com</p>
     <p style="color: white"> Github : KingzzangSJ </p>
     <p style="color: white"> Phone number : 010-2846-5088</p>
     <div class="header-icons">
            <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
             <a aria-label="My Github" target="_blank" href="http://github.com/{{site.github-user_name}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>

    <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;color: white;position: absolute; bottom: 20px;"> Contact By</h1>
     
</div>