<div class="user-details" style="box-shadow:5px 5px 5px 5px darkgray">
  <h1> Featured Projects </h1>
</div> 
{% for post in site.posts %}
<div class="user-projects" style="box-shadow:5px 5px 5px 5px darkgray">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> {{post.title}} </h3>
    <ul>
      <li> {{post.skills}}</li>
    </ul>
    <p>{{post.description}}</p>
    <a class="project-link" href="{{post.url | prepend: site.baseurl}}#content">상세보기 </a>
</div>
{% endfor %}
</div>
