<div class="user-details">
  <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;padding-top: 2px; margin:0px;"> Featured Projects </h1>
</div> 

{% for post in site.posts %}
<div class="user-projects" style="box-shadow:5px 5px 5px 5px darkgray;height: 100%;">
  <div class="images-right">
    <img alt="PersonalProject" src="{{ post.image | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> {{post.title}} </h3>
    <ul>
      <li> {{post.skills}}</li>
    </ul>
    <p>{{post.description}}</p>
    <a class="project-link" href="{{post.url | prepend: site.baseurl}}#content">상세보기 </a>
</div>
</div>
{% endfor %}
 
 

