<div class="user-details" style="height: 100%; scroll-snap-align: center;">
        <div style="margin-bottom: 10%;">
        <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;color:white;"> Skills </h1>
         </div>
        <div class="user" style="height:70%">
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%;margin-left: 10%"> 
                  <h2>Framework & Library</h2>
                  
                  <i class="devicon-bootstrap-plain-wordmark colored"></i>
                  <i class="devicon-nodejs-plain-wordmark colored"></i>
                  <i class="devicon-jquery-plain-wordmark colored"></i>
                  <i class="devicon-react-original-wordmark colored framework"></i>
                  <img alt="spring" src="{{ "/assets/img/spring.png" | prepend: site.baseurl }}" style="width:70px;height:70px" id="framework"/>
                  <p id="framework">Click icon</p>
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%">
                  <h2>Language</h2>
                  <i class="devicon-html5-plain-wordmark colored"></i>
                  <i class="devicon-javascript-plain colored"></i>
                  <i class="devicon-java-plain-wordmark colored"></i>
                  <i class="devicon-python-plain-wordmark colored"></i>
                  
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%;margin-right: 10%">
                  <h2>DBMS & Tools</h2>
                  <i class="devicon-oracle-original colored"></i>
                  <i class="devicon-mysql-plain-wordmark colored"></i>
                  <i class="devicon-git-plain-wordmark colored"></i>
                  <img alt="vscode" src="{{ "/assets/img/vscode.jpg" | prepend: site.baseurl }}" style="width:70px;height:70px"/>
                  <img alt="eclipse" src="{{ "/assets/img/eclipse.png" | prepend: site.baseurl }}" style="width:70px;height:70px"/>
                  
                  <p>SQL (중상) : 다양한 웹기능들을 서브쿼리와 조인을 이용하여 구현가능.  </p>
                </div>
        </div>
</div> 
    