<div class="user-details" style="height: 100%; scroll-snap-align: center;">
        <div style="margin-bottom: 10%;">
        <h1 style="font-size:4rem; text-shadow: 5px 5px 5px grey;color:white;"> Skills </h1>
         </div>
        <div class="user" style="height:70%">
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;"> 
                  <h2>Framework & Library</h2>
                  
                  <i class="devicon-bootstrap-plain-wordmark colored"></i>
                  <i class="devicon-nodejs-plain-wordmark"></i>
                  <i class="devicon-jquery-plain-wordmark"></i>
                  <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
                    Vinyl XOXO lumbersexual</p>
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;">
                  <h2>Language</h2>
                  <i class="devicon-html5-plain-wordmark"></i>
                  <i class="devicon-javascript-plain colored"></i>
                  <i class="devicon-java-plain-wordmark"></i>
                  <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
                    Vinyl XOXO lumbersexual</p>
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;">
                  <h2>DBMS & Tools</h2>
                  <i class="devicon-oracle-original"></i>
                  <i class="devicon-mysql-plain"></i>
                  
                  <p>DB</p>
                </div>
        </div>
</div> 
    