<div class="user-details" style="height: 100%; scroll-snap-align: center;">
        <div style="margin-bottom: 5%;">
        <h1 style="font-size:3rem; text-shadow: 5px 5px 5px grey;color:white;"> Skills </h1>
         </div>
        <div class="user" style="height:85%">
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%;margin-left: 10%"> 
                  <h2>Framework & Library</h2>
                  
                  <i class="devicon-bootstrap-plain-wordmark colored"></i>
                  <i class="devicon-nodejs-plain-wordmark colored"></i>
                  <i class="devicon-jquery-plain-wordmark colored"></i>
                  <i class="devicon-react-original-wordmark colored framework"></i>
                  <img alt="spring" src="{{ "/assets/img/spring.png" | prepend: site.baseurl }}" style="width:70px;height:70px" id="framework"/>
                  <p>Jquery (상): JQuery를 활용하여 AJAX 통신, Websocket등 다양한 웹 기능 구현가능. </p>
                  <p>SpringFramework(중상): porn.xml을 활용한 DI, Spring의 폴더구조를 활용하여 올바른 디자인패턴의 소프트웨어 구현가능</p>
                  <p>nodejs (중상) : Express Framework 를 활용, 다양한 모듈들을 관련 문서를 참고하여 
                        라우팅과 미들웨어 구현,외부 Api 파싱 등 웹 서버구현에 활용할 수 있음. </p>
                  <p>bootstrap (중) : Bootstrap과 css를 활용하여 깔끔한 UI 디자인 가능</p>
                  <p>react (하) : 현재 가장 관심있는 분야, 간단한 Todo List, 박스오피스 페이지 를 구현해보며 작동원리를 이해중</p>
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%">
                  <h2>Language</h2>
                  <i class="devicon-html5-plain-wordmark colored"></i>
                  <i class="devicon-javascript-plain colored"></i>
                  <i class="devicon-java-plain-wordmark colored"></i>
                  <i class="devicon-python-plain-wordmark colored"></i>
                  <p>HTML (상) : Html 의 다양한 태그를 활용하여 정적인 웹페이지 제공가능</p>
                  <p>Javascript (중상) : Javascript를 활용한 동적인 웹기능 구현 가능. Node.js, React 를 공부하면서 많은 공부가 되었음.  </p>
                  <p>Java (상) : 객체지향언어의 특성에 부합한 Class 관리, JAVA의 내장 Class 들의 DataStructure에 대한 이해가 있음. 
                      Java를 이용하여 백준 알고리즘 사이트에서 알고리즘 공부중.</p>
                  <p>python (최하) : 기본 문법과 언어적 특징만 알고 있음.</p>

                  
                </div>
                <div class="tech" style="box-shadow:5px 5px 5px 5px darkgray; height:80%; background-color:white;color:black;width: 30%;margin-right: 10%">
                  <h2>DBMS & Tools</h2>
                  <i class="devicon-oracle-original colored"></i>
                  <i class="devicon-mysql-plain-wordmark colored"></i>
                  <i class="devicon-git-plain-wordmark colored"></i>
                  <img alt="vscode" src="{{ "/assets/img/vscode.jpg" | prepend: site.baseurl }}" style="width:70px;height:70px"/>
                  <img alt="eclipse" src="{{ "/assets/img/eclipse.png" | prepend: site.baseurl }}" style="width:70px;height:70px"/>
                  
                  <p>SQL (중상) : 다양한 웹기능들을 서브쿼리와 조인을 이용하여 구현가능. 데이터 모델링은 더 공부가 필요하다고 느낌. 
                      Oracle 과 MySQL을 활용한 프로젝트 경험 있음.
                  </p>
                  <p>Git (중) : branch,merge 등 console 에서 git 명령어를 활용, Github와 연동하여 형상관리 가능.  </p>
                </div>
        </div>
</div> 
    