<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body  style="scroll-snap-type:block mandatory;overflow-y:scroll;">
     {% include header.html %}
     
      <section id="about" class="sc" style="height:100%;scroll-snap-align:center;background-color: lightslategrey;width:100%">
        {% include about.html %}
      </section>
      
    <section id="skills" class="sc" style="height:100%;scroll-snap-align:center;background-color: lightcoral">
          {% include skills.html %}
      </section>
    
      
      <section id="projects" class="sc" style="height:100%;scroll-snap-align:center; scroll-margin-bottom: 20px;">
        {% include projects.html %}
      </section>
     
      {% include footer.html %}
   
  </body>
 