<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body  style="scroll-snap-type:block mandatory;overflow-y:scroll;">
     {% include header.html %}
     
      <section id="about" class="white" >
        {% include about.html %}
      </section>
      
    <section id="skills" class="black">
          {% include skills.html %}
      </section>
    
      
      <section id="projects"  class="white">
        {% include projects.html %}
      </section>
      <section id="contact" class="black" >
        {% include contact.html %}
      </section>
     
    
   
  </body>
 